<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>City Info</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <span>City Info</span>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>About Us</h1>
        </main>
        <footer>
            <p>City Info &copy; 2024</p>
        </footer>
    </div>
    <script src="resources/js/app.js"></script>
</body>

</html>