<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>City Info</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <span>City Info</span>
            <nav>
                <ul>
                    <li><a href="https://derleysoares94.github.io/city-info/">Home</a></li>
                    <li><a href="https://derleysoares94.github.io/city-info/resources/view/about.html">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="about-content">
                <h1>About Us</h1>
                <h2>Our Mission</h2>

                <p>At City Info, we aim to make discovering city histories and current weather conditions simple and engaging. We
                    believe that understanding the past and present of a city enhances the experience of exploring it.
                </p>

                <h2>What We Offer</h2>

                <p>City Histories: Uncover fascinating historical facts about any city you’re interested in. Learn about the events and
                people that have shaped these places over time.</p>
                <p>Weather Forecasts: Get instant, up-to-date weather forecasts for any city you search for. Just type the city name, and
                we’ll provide the current conditions.</p>
            </div>
        </main>
        <footer>
            <p>City Info &copy; 2024</p>
        </footer>
    </div>
    <script src="resources/js/app.js"></script>
</body>

</html>